%div
  .row
    .offset1.span6.margin-init
      %h4
        Bem vindo ao
        %span.thorp Thorp
      %p Uma rede social simples e fácil de usar.
      %p
        E o lugar
        %span.thorp ideal
        para encontrar seus amigos.
    .span4
      = render "devise/registrations/new"