<div>
  <div class="row">
    <div class="offset1 span6 margin-init">
      <h4>Bem vindo ao <span class="thorp">Thorp</span></h4>
      <p>Uma rede social simples e fácil de usar.</p>
      <p>E o lugar <span class="thorp">ideal</span> para encontrar seus amigos.</p>
    </div>
    <div class="span4">
      <%= render "devise/registrations/new" %>
    </div>
  </div>
</div>