%p Olá #{@resource.email}!
%p Alguém solicitou um link para alteração de senha, e você pode fazer isso através do link abaixo.
%p Talvez seu nome de usuário tenha sido modificado por causa de problemas de validação do sistema.
%p Seu nome de usuario é #{@resource.username}
%p= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não solicitou nada, por favor ignore este email.
%p Sua senha não será alterada a menos que você clique no link acima e crie uma nova.